.navbar-nav a {
    font-size: 18px;
    text-transform: uppercase;
}

.navbar-light .navbar-brand {
    /* font-family: righteous; */
    color: #fff;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}

.navbar-nav {
    text-align: center;
}

.nav-link {
    padding: .2rem 1rem;
}

@media only screen  and (max-width: 767px) {
    .navbar-toggler{
        padding: 1px 5px;
        font-size: 18px;
        line-height: 0.3;
        background: #fff;
    }
}


.navbar-light .navbar-nav .nav-link {
    color: #fff;
    font-family: Alegreya Sans SC;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #fff;
    font-family: Alegreya Sans SC;
}

.banner-area {
    height: 100vh;
    background-image:linear-gradient(to left bottom ,rgba(2.4,74.5,71.4,0.8),rgba(28.2,69.4,75,0.8)) , url(a1.jfif);
    background-size: cover;
    background-position: center;
    position: relative;
}

.banner-text {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.banner-text h2 {
    /* font-family: ; */
    font-size: 30px;
    color: #fff;
}

.banner-text p {
    color: #fff;
}

.banner-text a {
    text-decoration: none;
    background: #3699c7;
    color: #fff;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 10px;
    border-radius: 50px;
}
